/* RESET */
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&family=Space+Mono:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --c1: #333;
    --c2: #4F4F4F;
    --c3: #BDBDBD;
    --w: #FFF;
}
html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Space Mono', monospace;

    height: 100vh;
    display: flex;
    gap: 6rem 0;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 2.4rem;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
}

.container {
    padding-inline: 2.4rem;
    max-width: 144rem;
    margin-inline: auto;
}
.btn {
    display: inline-block;
    background: var(--c1);
    text-transform: uppercase;
    color: var(--w);
    font-size: clamp(1rem, 4vw, 1.4rem);
    
    font-weight: 700;
    letter-spacing: -0.035em;
    padding: clamp(1rem, 5vw, 2.4rem) clamp(2rem, 10vw, 4.2rem);
    transition: .3s;
}
.btn:hover {
    background: #BDBDBD;
    color: #333;
}

/* HEADER */
.header {
    width: 100%;
    padding-top: 2rem;
}

.header .logo {
    font-family: monospace;
    font-weight: 700;
    font-size: clamp(1.2rem, 5vw, 2.4rem);
  
    letter-spacing: -0.08em;
    text-transform: uppercase;
    color: var(--c1);
}

/* CONTENT */
.content {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.content-left {
    width: clamp(10.6rem, 100%, 53.9rem);
    margin-inline: auto;
}

.content-right {
    padding-left: 2.4rem;
}

.content-right .title {
    color: var(--c1);
    font-size: clamp(2rem, 11vw, 6.4rem);
    font-weight: 700;
    line-height: 1.47;
    letter-spacing: -0.035em;
    margin-bottom: clamp(1.5rem, 3vh, 3rem);
    max-width: 58.6rem;
}   

.content-right .desc {
    font-size: clamp(1.4rem, 4.5vw, 2.4rem);
    line-height: 1.5;
    letter-spacing: -0.035em;
    color: var(--c2);
    margin-bottom: clamp(2.5rem, 5vh, 5rem);
    max-width: 38.1rem;
}

/* FOOTER */
.footer {
    width: 100%;
}

.footer-copy {
    display: block;
    font-size: clamp(1rem, 2.5vw, 1.4rem);
    font-weight: 500;
    color: var(--c3);
    text-align: center;
}

.footer a {
    font-weight: bold;
    text-decoration: underline;
    transition: color .3s ease;
}
.footer a:hover {
    color: var(--c2);
}

@media (max-width: 330px) {
    .container,
    .content-right {
        padding-inline: 1rem;
    }
    body {
        gap: 2rem;
    }
}

@media (min-width: 800px) {
    .container {
        padding-inline: 7.7rem;
    }
    .header {
        padding-top: 4rem;
    }
    .content {
        flex-direction: row;
        gap: 2rem;
        align-items: center;
    }
}

@media (min-width: 2000px) {
    html {
        font-size: 100%;
    }
} 